<!DOCTYPE html>
<html>
    <head>
        <title>OTP Verification</title>
    </head>
    <body>
        <p>Hi <span th:text="${name}">User</span>,</p>
        <p>Thank you for registering at <strong>Fitmefy</strong>!</p>
        <p>This email is being processed and transfered to you via RabbitMq implementation :)</p>
        <p>Your OTP is: <strong th:text="${otp}">123456</strong></p>
        <p>Please do not share it with anyone.</p>
        <br/><p>Best Regards,<br/>Anurag Kumar</p>
    </body>
</html>
